server:
  port: 7002
  error:
    include-message: always

logging:
  level:
    root: INFO
    com.habeebcycle: DEBUG

---
spring:
  config:
    activate:
      on-profile:
        - docker

server:
  port: 8080